/* Minimal global reset to remove default browser margins and ensure consistent box-sizing */
html, body, #root {
  height: 100%;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden !important;
  max-width: 100% !important;
  width: 100% !important;
}

#root {
  overflow-x: hidden !important;
  max-width: 100% !important;
}